USE [master]
GO
/****** Object:  Database [account]    Script Date: 2015/7/15 9:59:11 ******/
CREATE DATABASE [account]
 CONTAINMENT = NONE
 ON  PRIMARY 
(NAME = N'account', FILENAME = N'E:\00abc 实训\数据库\account.mdf' , SIZE = 3072KB , MAXSIZE = UNLIMITED, FILEGROWTH = 1024KB )
 LOG ON 
(NAME = N'account_log', FILENAME = N'E:\00abc 实训\数据库\account_log.ldf' , SIZE = 3136KB , MAXSIZE = 2048GB , FILEGROWTH = 10%)
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [account].[dbo].[sp_fulltext_database] @action = 'disable'
end
GO
USE [account]
GO
/****** Object:  Table [dbo].[card]    Script Date: 2015/7/15 9:59:11 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[card](
	[cardid] [varchar](50) NOT NULL,
	[bankName] [varchar](50) NULL,
	[balance] [money] NOT NULL,
	[addDate] [datetime] NOT NULL,
	[password] [varchar](50) NULL,
	[userId] [int] NOT NULL,
 CONSTRAINT [PK_card] PRIMARY KEY CLUSTERED 
(
	[cardid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[trade]    Script Date: 2015/7/15 9:59:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[trade](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[cardid] [varchar](50) NOT NULL,
	[tradeTime] [datetime] NOT NULL,
	[tradeType] [varchar](10) NOT NULL,
	[number] [money] NOT NULL,
	[about] [nvarchar](50) NULL,
	[typeId] [int] NULL,
 CONSTRAINT [PK__trade__00551192] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, FILLFACTOR = 100) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[tradeType]    Script Date: 2015/7/15 9:59:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[tradeType](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[typeName] [varchar](50) NOT NULL,
	[fid] [int] NOT NULL,
 CONSTRAINT [PK_tradeType] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
/****** Object:  Table [dbo].[users]    Script Date: 2015/7/15 9:59:12 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
SET ANSI_PADDING ON
GO
CREATE TABLE [dbo].[users](
	[id] [int] IDENTITY(1,1) NOT NULL,
	[loginName] [varchar](50) NOT NULL,
	[password] [varchar](50) NOT NULL,
	[realName] [varchar](50) NULL,
 CONSTRAINT [PK_users] PRIMARY KEY CLUSTERED 
(
	[id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY]

GO
SET ANSI_PADDING OFF
GO
ALTER TABLE [dbo].[card] ADD  CONSTRAINT [DF_card_addDate]  DEFAULT (getdate()) FOR [addDate]
GO
ALTER TABLE [dbo].[trade] ADD  CONSTRAINT [DF_tradeTime]  DEFAULT (getdate()) FOR [tradeTime]
GO
ALTER TABLE [dbo].[card]  WITH CHECK ADD  CONSTRAINT [pk_user] FOREIGN KEY([userId])
REFERENCES [dbo].[users] ([id])
GO
ALTER TABLE [dbo].[card] CHECK CONSTRAINT [pk_user]
GO
ALTER TABLE [dbo].[trade]  WITH CHECK ADD  CONSTRAINT [FK_cardid] FOREIGN KEY([cardid])
REFERENCES [dbo].[card] ([cardid])
GO
ALTER TABLE [dbo].[trade] CHECK CONSTRAINT [FK_cardid]
GO
USE [master]
GO
