<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="connStr" connectionString="Data Source=.;Initial Catalog=account;User ID=sa" />
    <add name="WindowTest.Properties.Settings.accountConnectionString"
      connectionString="Data Source=.;Initial Catalog=account;User ID=sa"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>